body {
    font-family: 'Hi Melody', cursive;
}

#headings {
    width: 505px;
    margin: 1em auto;
}

#timer {
    width: 45%;
    float: right;
    margin-top: 0.3em;
    cursor: pointer;
}

#material-icons {
    width: 5%;
}

.count {
    position: relative;
    left: 10px;
    font-size: 38px;
}

/* pop up http://dev.vast.com/jquery-popup-overlay/ */
#standalone {
    -webkit-transform: scale(0.8);
        -ms-transform: scale(0.8);
            transform: scale(0.8);
}

.popup_visible #standalone {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
}

/* 
clip corners button https://stackoverflow.com/a/9998133
main button block */
.button {
    font-family: 'Hi Melody', cursive;
    cursor: pointer;
    display:inline-block;
    position: relative;
    line-height: 60px;
    text-align: center;
    padding: 0 20px;
    height: 60px;
    font-size: 26px;
}

/* green background color to play-again */
#play-again::before, #play-again::after {
    background-color: #6CC14D;
} 

/* grey background color to play-again */
#close-popup::before, #close-popup::after {
    background-color: #cccccc;
} 
 
/* shared styles to make left and right lines */
.button::before, .button::after {
    content: "";
    position: absolute;
    height: 50px;
    width: 5px;
    top: 5px;    
} 

/* pull the left 'line' out to the left */
.button::before {
    left: -5px;
}

/* pull the right 'line' out to the right */
 .button::after {    
    right: -5px;
} 

#play-again {
    color: whitesmoke;
    background-color: #6CC14D;
    margin-right: 15px;
}

#close-popup {
    background-color: #cccccc;
    color: #8b8b8b;    
}

#summary {
    float: left;
}

#emotion {
    float: right;
    position: relative;
    left: 30px;
    top: 30px;
}